/.expo
lib/
node_modules/
example/node_modules/
example/android/
example/ios/
example/ios/Pods/
integration_test/node_modules/
integration_test/android/
integration_test/ios/
integration_test/ios/Pods/
