name: CI (TypeScript)

on:
  pull_request:
    paths:
      - '.github/workflows/ci-typescript.yml'
      - '.github/actions/**'
      - '**.ts'
      - '**.tsx'
      - '**.js'
      - '**.json'
      - '**package.json'
      - '.eslint*'
      - '*prettier*'
      - '**babel.config.js'
      - 'tsconfig.json'
      - 'typedoc.json'
      - '**yarn.lock'
      - '**metro.config.js'
      - '!*/android/**'
      - '!*/ios/**'

  push:
    branches: [development, development-v0]
    paths:
      - '.github/workflows/ci-typescript.yml'
      - '.github/actions/**'
      - '**.ts'
      - '**.tsx'
      - '**.js'
      - '**.json'
      - '**package.json'
      - '.eslint*'
      - '*prettier*'
      - '**babel.config.js'
      - 'tsconfig.json'
      - 'typedoc.json'
      - '**yarn.lock'
      - '**metro.config.js'
      - '!*/android/**'
      - '!*/ios/**'

concurrency:
  group: ci-typescript-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  code-style-typescript:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node and npm registry
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'
          cache: 'yarn'

      - name: Install node_modules
        run: yarn install --frozen-lockfile

      - name: Install node_modules (example/)
        run: yarn install --frozen-lockfile --cwd example

      - name: Install node_modules (integration_test/)
        run: yarn install --frozen-lockfile --cwd integration_test

      - name: Lint Typescript
        run: yarn lint

  test-build-typescript:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node and npm registry
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org/'
          cache: 'yarn'

      - name: Install node_modules
        run: yarn install --frozen-lockfile

      - name: Install node_modules (example/)
        run: yarn install --frozen-lockfile --cwd example

      - name: Install node_modules (integration_test/)
        run: yarn install --frozen-lockfile --cwd integration_test

      - name: Typecheck TypeScript
        run: yarn typecheck:all

      - name: Build TypeScript (Module)
        run: yarn build:module

      - name: Build TypeScript (Plugin)
        run: yarn build:plugin

  test-build-docs:
    name: Build API docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Environment
        uses: ./.github/actions/setup-environment
        with:
          node: true
          skip-prebuild: true

      - name: Build docs
        run: yarn docs
